@using Specter.Web.Models
@model LoginViewModel

@{
    ViewBag.Title = "Home Page";
}
@Html.Partial("Background-Slider")
@*<div>
    <h2>Описание функциональных возможностей продукта</h2>
    @if (Request.IsAuthenticated)
    {
        <p>Добро пожаловать @Html.DisplayFor(u => u.Username)!</p>
    }
</div>*@

