@{
    Layout = "~/Views/Shared/_RootLeafletMap.cshtml";
}
@*<div class="content-map-wrap">*@
    @*<section id="content" class="container drop-shadow lifted">*@
        @*@if (IsSectionDefined("left"))
        {
            @RenderSection("left")
        }*@
        @*@Html.Action("ControlPanel", "ControlPanel")*@
        @*<div id="content-body">*@
            @*<div id="content-center">*@
                @RenderBody()
            @*</div>*@
        @*</div>*@
    @*</section>*@
@*</div>*@


