<header class="header-top">
    <div class="header-wrap">
        <div class="header-content">
            <div class="header-logo">
                <a href="/Admin/Dashboard">
                    <img src="/Media/Thumbs/0000/0000001-company-logo.png" alt="Family Circle" title="Family Circle" class="main-logo">
                </a>
            </div>
            <div class="header-logo-patch"></div>
            <nav class="nav-main horizontal-nav">
                <ul>
                    <li>
                        <a class="big-btn" href="#"><span>Sign Up</span></a>
                    </li>
                    <li><a href="#"><span>About</span></a></li>
                    <li><a href="#"><span>Team</span></a></li>
                    <li><a href="#"><span>Store</span></a></li>
                    <li><a href="#"><span>Contact</span></a></li>
                </ul>
            </nav>
            <div class="header-social">
                <nav class="nav-social horizontal-nav">
                    <!--(z:1)-->
                    <ul>
                        <li>
                            <a class="icon-twitter-sign" href="#"><span class="screen-reader-text" twitter</span></a>
                        </li>
                        <li>
                            <a class="icon-facebook-sign" href="#"><span class="screen-reader-text">Facebook</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>