@model MenuEnableItemsModel

<div class="section-header">
    <div class="title">@ViewBag.Title</div>
    <div class="options">
        <button type="submit" name="save" value="save" class="btn btn-primary"><i class="icon-ok icon-white"></i>&nbsp;@T("Admin.Common.Save")</button>
        <button type="submit" name="save" value="continueEditing" class="btn btn-primary">@T("Admin.Common.SaveContinue")</button>
        @if (Model.EnableEmail)
        { 
            <a href="#sendemail-window" data-toggle="modal" class="btn">
                <i class="icon-envelope"></i>&nbsp;@T("Admin.Users.SendEmail")
            </a>
            <a href="#sendprivatemessage-window" data-toggle="modal" class="btn">
                <i class="icon-envelope"></i>&nbsp;@T("Admin.Users.SendPM")
            </a>
            <script type="text/javascript">
                $(document).ready(function () {
                    $("#sendemail").click(function (e) {
                        e.preventDefault();
                        $("#sendemail-window").find("form").submit();
                    });
                    $("#sendprivatemessage").click(function (e) {
                        e.preventDefault();
                        $("#sendprivatemessage-window").find("form").submit();
                    });
                });
            </script>
        }
        @if (Model.EnableDelete)
        { 
            <button type="submit" name="user-delete" id="user-delete" class="btn btn-danger"><i class="icon-trash icon-white"></i>&nbsp;@T("Admin.Common.Delete")</button>
        }
    </div>
</div>
<script>
    $(".options button[value=save-continue]").click(function () {
        $("form").append('<input type="hidden" name="save-continue" value="true" />');
    });
    $("button[type='submit']").click(function () {
        $("form").submit();
    });
</script>
