<?xml version="1.0"?>

<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=5.1.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <pages pageBaseType="Specter.Web.Framework.ViewEngines.Razor.WebViewPage">
    <!--<pages pageBaseType="System.Web.Mvc.WebViewPage">-->
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization"/>
        <add namespace="System.Web.Routing" />
        <add namespace="Specter.Web" />
        <add namespace="Specter.Web.Core.Infrastructure" />
        <add namespace="Specter.Web.Core.Events" />
        <add namespace="Specter.Web.Framework" />
        <add namespace="Specter.Web.Framework.Mvc" />
        <add namespace="Specter.Web.Framework.UI" />
        <add namespace="Specter.Web.Framework.Events" />
        <add namespace="Specter.Web.Framework.UI.Captcha" />
        <add namespace="Specter.Web.Models" />
        <add namespace="Specter.Web.Models.Common" />
        <add namespace="Specter.Web.Models.GPS" />
        <add namespace="Specter.Web.Models.GeoZones" />
        <add namespace="Specter.Web.Models.Map" />
        <add namespace="Specter.Web.Models.Dialogs" />
        <add namespace="Specter.Web.Models.Device" />
        <add namespace="Specter.Web.Models.Notices" />
        <add namespace="Specter.Web.Models.User" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>

  <appSettings>
    <add key="webpages:Enabled" value="false" />
  </appSettings>

  <system.webServer>
    <handlers>
      <remove name="BlockViewHandler"/>
      <add name="BlockViewHandler" path="*" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />
    </handlers>
  </system.webServer>
</configuration>
